.activechatbox{
    display: flex;
    flex-direction: column;
}

.articlechat{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 35px;
    width: 650px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: 0.5s;
}

.articlechat:hover{
    transform: scale(1.1);
}

.linkchat {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.articlechat img {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    object-fit: cover;
}

.divchat {
    display: flex;
    flex-direction: column; 
    margin-left: 50px;
}

/* .boxmessage{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 300px; 
    display: block;
    margin-top: 10px;
    background-color: rgb(195, 255, 203);
    border-radius: 10px; 
    padding: 8px;
    border: 1px solid #000;
} */
.boxmessage {
    width: 100%; 
    max-width: 350px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background-color: rgb(195, 255, 203);
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #000;
}

.boxmessage p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.messageFrom{
    margin-bottom: auto;
    font-size: smaller;
    font-weight: bold;
}


/* paginação */

.pagination {
    display: flex;              
    justify-content: center;     
    align-items: center;         
    margin-top: 20px;            
    gap: 10px;                   
    }
    
    .pagination button {
    padding: 8px 12px;           
    background-color: #f0f0f0;   
    border: 1px solid #ccc;      
    border-radius: 4px;          
    cursor: pointer;             
    transition: background-color 0.3s ease; 
    }
    
    .pagination button:hover {
    background-color: #e0e0e0;   
    }
    
    .pagination button:disabled {
    background-color: #ccc;      
    cursor: not-allowed;         
    }
    
    .pagination .active {
    background-color: #007bff;   
    color: white;                
    font-weight: bold;           
    border-color: #007bff;       
    }